.about {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 22%;
    background-color: #f5f5f5;
    background-image: url('../../assets/blueberries-in-hand.png');
    margin-bottom: 5%;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .about h2 {
    font-size: 24px;
    color:blanchedalmond;
    margin-bottom: 15px;
  }

  .about p {
    font-size: 16px;
    color:white;
    line-height: 1.5;
  }

  .about a {
    color: #007bff;
    text-decoration: none;
  }

  .about a:hover {
    text-decoration: underline;
  }
