.product-list {
   position: relative;
   flex-direction: row;
   display: flex;
   justify-content: space-evenly;
   margin-left: 15%;
   margin-right: 15%;
 }

 .product {
   top: -108px;
   transition: top 0.3s ease;
 }

 .product-selected {
   top: -175px;
 }

 .slideshow__button {
   text-align: center;
   white-space: initial;
 }

 .slideshow__button-cta {
   position: absolute;
   left: 50%;
   bottom: -62px;
   padding-top: 15px;
   padding-bottom: 15px;
   line-height: 1.3;
   -ms-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   transform: translate(-50%);
 }
