.navbar {
    position: relative;
    z-index: 12;
  }

  .btn--clear {
    background: transparent;
    border: none;
  }

  .btn--square {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
  }

  .burger-icon {
    display: block;
    width: 24px;
    height: 3px;
    margin: 2px 0;
    background-color: #4a4a4a;
  }

  .icon__fallback-text {
    display: none;
  }

  /* Add this if you want to make the navbar transparent on the homepage */
  .site-header--transparent,
  .site-header--homepage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .menu {
    display: none;
    /* Add other styling for the menu as desired */
  }

  .menu--open {
    display: block;
    /* Add other styling for the expanded menu as desired */
  }
