.home-content {
  padding: 2rem 5%;
}

/* .hero {
  text-align: center;
  padding: 5rem 0;
} */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
