.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #ffffff;
    color: #4a4a4a;
}

.logo img {
    height: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;

}

.product-list{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.blog-posts{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}