.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #333;
}

.logo img {
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffcc00;
}
